<% if !@bar_shown && @last_read_at && @last_read_at < message.created_at && message.user_id != current_user.id %>
  <% @bar_shown = true %>
  <div class='flex text-right divide'>
    <span class='pl-2 h-0 border-b-0 border-t-2 block flex-grow border-red-600 my-auto'></span>
    <span class="pl-3 pr-3">您有未讀訊息</span>
  </div>
<% end %>

<div class="flex items-start mb-4 text-sm">
  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/AACED1/FFF/?text=A" data-img-src="##img-src##">
  <div class="flex-1 overflow-hidden">
    <div>
      <span class="font-bold" data-username=""><%= message.user.nickname %></span>
      <span class="text-grey text-xs" data-message-create-time=""><%= message.created_at.to_s(:db) %></span>
    </div>
    <p class="text-black leading-normal"><%= message.content %></p>
  </div>
</div>


