<div class="message">
  <div class="message-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.user.email %>
    </div>
  </div>
</div>

