<% if !@bar_shown && @last_read_at && @last_read_at < message.created_at %>
  <% @bar_shown == true %>
  <div class="border-b-2 border-red-500"></div>
<% end %>

<div class="flex items-start mb-4 text-sm">
  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/AACED1/FFF/?text=A" data-img-src="##img-src##">
  <div class="flex-1 overflow-hidden">
    <div>
      <span class="font-bold" data-username=""><%= message.user.name %></span>
      <span class="text-grey text-xs" data-message-create-time=""><%= message.created_at %></span>
    </div>
    <p class="text-black leading-normal"><%= message.content %></p>
  </div>
</div>


