<div class="flex items-start mb-4 text-sm">
  <%= image_tag reply.user.avatar_url , class: 'sp-user-avatar'%>
  <div class="flex-1 overflow-hidden relative">
    <div>
      <span class="font-bold">
        <%= reply.user.nickname %>
      </span>
      <span class="text-grey text-xs">
        <%= reply.created_at.strftime("%b %d %R") %>
      </span>
    </div>
    <p class="text-black leading-normal">
      <%= reply.content %>
    </p>
  </div>
</div>