<div class="flex items-start mb-4 text-sm">
  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/AACED1/FFF/?text=A" data-img-src="##img-src##">
  <div class="flex-1 overflow-hidden relative">
    <div>
      <span class="font-bold">
        <%= reply.user.nickname %>
      </span>
      <span class="text-grey text-xs">
        <%= reply.created_at.strftime("%b %d %R") %>
      </span>
    </div>
    <p class="text-black leading-normal">
      <%= reply.content %>
    </p>
  </div>
</div>