<div class="conversation-index">
  <span>來自</span><%= conversation.with(current_user).name %>
  
  <div class="conversation-index-items">
    <%= conversation.personal_messages.last.content.truncate(50) %>
  </div>
  
  <%= link_to '檢視完整對話', space_conversation_path(conversation.space_id, conversation) %>
  <hr>
</div>