<div class="steps-nav"></div>

<table class="spaces-container" height="100%">
  <tr>
    <td class="spaces-steps">
        <p id="i1">新工作區的名字</p>
    </td>
    <td class="spaces-step-content">
      步驟3之1
      <%= render "shared/newspace" %>

    </td>
  </tr>
</table>







