<ul id='member-list'>
    <% members.each do |men| %>
        <li class='friend'>
            <img src="https://picsum.photos/id/100/100/100" alt="">
            <div class="name">
                <%= men.email %>
            </div>
        </li>
    <% end %>
</ul>