<ul id='member-list'>
  <% members.each do |men| %>
    <li class='friend'>
      <%= image_tag men.avatar_url %>
      <div class="name">
        <%= men.name_with_email %>
      </div>
    </li>
  <% end %>
</ul>
