<ul id='member-list'>
  <% members.each do |men| %>
    <li class='friend'>
      <%= image_tag men.avatar.variant(resize_to_limit: [48, 48]) %>
      <div class="name">
        <%= men.email %>
      </div>
    </li>
  <% end %>
</ul>
