

<div class="wallpaper" data-controller="channelbox" data-channelbox-target="page">
    <div class="dialog-box">
        <h2>新增成員</h2>
        <button data-action="click->channelbox#close" class="close" >X</button>


          <div data-controller="select">
        
         <%= form_for userchannel, url: member_add_post_path, method: "POST" do |f| %>
            <%#= f.collection_check_boxes(:user_ids, User.all, :id, :email) %>

            
                <%= f.select :user_ids, spaceusers.map{ |u| [u.email, u.id] }, {}, multiple: true, class: "form_control", id: "user_select", style: "width: 100%" %>
            
     

            <%= f.submit "送出" %>


            <% end %>
         
        </div>

      
    </div>
</div>

