	<nav id="stork_header" class="m-0 fixed flex w-full justify-center items-center bg-blue-900 text-white border-b-2 border-grey">
		
		<!-- History 時鐘圖示-->
		<div class="dropdown">
			<div id="font_history" tabindex="0" class="text-blue-dark mx-2 my-1 text-xl text-white cursor-pointer">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
			</div> 
		</div>
		<!-- History End -->
		<div id="btn_search-group" class="text-center w-2/5 ">
			<label for="chk-search-space" class="cursor-pointer align-middle  border-0 rounded-md p-1 bg-blue-lighter text-sm w-full text-white bg-[color:#ed7e6e]">
				<i class="fa fa-search" aria-hidden="true"></i>  
				搜尋 新的工作空間
			</label> 
		</div>
		<%# 問號圖示 %>
		<div id="font_question" class="mx-2 my-1 text-xl text-white cursor-pointer"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div> 
		<div class="space-setting-menu">
			<button id="btn-space-setting" class="block h-8 w-8 rounded-sm overflow-hidden border-0 border-grey-200"></button>	
		</div>
		<button tabindex="0" class="m-1 block h-8 w-8 rounded-sm overflow-hidden border-0 border-grey-200"><img src="http://fakeimg.pl/24x24/00CED1/FFF/?text=A" class="h-full w-full object-cover"></button> 
	</nav>