<div id="sidebar" data-controller="baritem" data-baritem-target="center">

    <ul>
      <span class="category">頻道</span>
      <hr class="line">
      <%= yield :my_channel %>
      <li><%= link_to "+ 新增頻道", new_channel_path, remote: true %></li>
    </ul>



</div>