<nav></nav>
<table class="spaces-container" height="100%">
<tr>
<td class="spaces-steps">
    <p><%= @space %></p>
</td>
<td class="spaces-step-content">
第2步，共3步
<div>
<span style="font-size:50px;">你的團隊現在在做什麼？</span>
</div>
<p>可以是任何形式：項目、市場營銷活動、活動或者即將達成的交易<p>
<input type="text" name="">

<%= link_to "下一步", stork_step3_path %>

