<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


    <!-- Body -->
    <body class="h-screen">
          <!-- 0 -->
          <!-- TOP 最上層 搜尋 新的工作空間 -->
          <div class="border-b stork-nav px-6 py-2 flex items-center justify-between">
              <div class="stork-wrapper">
                  <div class="flex  items-center">
                      <div class="mb-1 font-extrabold">
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                      </div>
  
                      <div class="space-search-group mx-3 mb-1 font-extrabold flex items-center">
                       <span class="sp-search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                       <input class="inp-space-search" placeholder="搜尋 新的工作空間 # select2">
  
                   </div>
  
                   <!-- ＴＯＰ 右邊的問號圖式 -->
                   <div class="mb-1 font-extrabold">
                      <i class="fa fa-question-circle-o" aria-hidden="true"></i> 
                  </div>            
  
                  <!-- ＴＯＰ 最右側的頭像 User Avatar -->
                  <div class="online-user">
                      <span tabindex="0" class="sp-user-avatar">
                          <img src="http://fakeimg.pl/24x24/00CED1/FFF/?text=A">
                      </span> 
                  </div>
  
              </div>
          </div>    
      </div>
      <!-- 0 TOP 最上層 搜尋 end -->
  
  
      <!-- 0 Container  -->
      <div class="outer-panel container font-sans antialiased h-screen">
  
          <!-- 1 最左側的 ＩＣＯＮ ＬＩＳＴ -->
          <div class="space-icons-panel flex-none w-24 p-6 md:block">
  
  
              <div class="space-icon-group cursor-pointer mb-4">
                  <div class="bg-white h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-lg mb-1 overflow-hidden">
                      <img src="https://pbs.twimg.com/profile_images/895274026783866881/E1G1nNb0_400x400.jpg" alt="">
                      ST
                  </div>
              </div>
  
  

              <div class="space-icon-group cursor-pointer mb-4">
                  <div class="bg-white h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-lg mb-1 overflow-hidden">
                      <img src="https://pbs.twimg.com/profile_images/895274026783866881/E1G1nNb0_400x400.jpg" alt="">
                      B
                  </div>
              </div>
  
  
  
              <div class="space-icon-group cursor-pointer mb-4">
                  <div class="bg-indigo-lighter opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-lg mb-1 overflow-hidden">
                      L
                  </div>
              </div>
  
  
  
              <div class="space-icon-group cursor-pointer mb-4">
                  <div class="bg-indigo-lighter opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-lg mb-1 overflow-hidden">
                      A
                  </div>
              </div>
  
  
  
  
              <div class="space-icon-group cursor-pointer mb-4">
                  <div class="bg-indigo-lighter opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-lg mb-1 overflow-hidden">
                      A
                  </div>
              </div>
  
  
              <div class="space-icon-group cursor-pointer mb-4">
                  <div class="bg-indigo-lighter opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-lg mb-1 overflow-hidden">
                      A
                  </div>
              </div>
  
  
  
  
  
              <div class="space-icon-group cursor-pointer mb-4">
                  <div class="bg-indigo-lighter opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-lg mb-1 overflow-hidden">
                      A
                  </div>
              </div>
  
  
  
              
              <!-- ＳＰＡＣＥ ＩＣＯＮ - 新增 Space -->
              <div class="cursor-pointer">
                  <div class="bg-white sticky top-0 left-0 opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-lg mb-1 overflow-hidden">
                      <i class="fas fa-plus"></i>
                  </div>
              </div>
  
  
  
          </div>
  
          <!-- 1 end -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  




  
  
  
          <!-- 1 start -->
          <!-- 新的工作空間  ##spaceName## -->
          <div class="space-channels-panel flex-none  w-64  overflow-y-scroll md:block">
              <div class="stork-header text-white">
                  <div class="space-setting-group  ">
                      <h1 class="space-title font-semibold mb-1 text-xl   text-center truncate">##spaceName <i class="fa fa-caret-down" aria-hidden="true"></i></h1>
                      <div id="space-list-func" tabindex="0">
                          <div><span>新的工作空間</span></div>
                          <div><a href="#">邀請人員至新的工作空間</a></div>
                          <div><a href="#">建立頻道</a></div>
                          <div><a href="#">偏好設定</a></div>
                          <div><a href="#">管理</a></div>
                          <div><a href="#">工具</a></div>
                          <div><a href="#">登出 工作空間</a></div>
                          <div><a href="#">新增工作空間</a></div>
                          <div><a href="#">切換工作空間</a></div>
                      </div>
                  </div>
              </div>
  
  
              <div class="group-stork-func hidden mb-8">
                  <div class="browse-stork px-4 py-2 mb-2 text-white flex justify-between items-center">
                      <div class="opacity-75"><i class="fa fa-bars" aria-hidden="true"></i>瀏覽Stork</div>
                  </div>
  
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div><i class="fas fa-sms"></i> 所有未讀私訊</div>
                  </div>
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div><i class="fa fa-comments-o" aria-hidden="true"></i> 所有私訊</div>
                  </div>
  
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div><i class="fa fa-at" aria-hidden="true"></i> 提及與回應</div>
                  </div>
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div><i class="fa fa-bookmark-o" aria-hidden="true"></i> 已儲存項目</div>
                  </div>
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div><i class="fa fa-television" aria-hidden="true"></i> 頻道瀏覽器</div>
                  </div>
  
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div><i class="fa fa-file-o" aria-hidden="true"></i> 檔案瀏覽器</div>
                  </div>
  
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div><i class="fa fa-address-book-o" aria-hidden="true"></i> 人員與使用者群組</div>
                  </div>
  
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div><i class="fa fa-folder-open-o" aria-hidden="true"></i> 應用程式</div>
                  </div>
  
                  <div class="stork-list-func px-4 mb-2  flex justify-between items-center">
                      <div>在你的偏好設定中自訂此清單</div>
                  </div>
                  <!-- <div class="bg-teal-dark py-1 px-4 text-white"># general</div> -->


                  <!-- hidden -->
                  <div id="dropdown-stork-list">
                      <div><a href="#"><i class="fa fa-th-divst" aria-hidden="true"></i> 所有未讀私訊</a></div>
                      <div><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 所有私訊</a></div>
                      <div><a href="#"><i class="fa fa-at" aria-hidden="true"></i> 提及與回應</a></div>
                      <div><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i> 已儲存項目</a></div>
                      <div><a href="#"><i class="fa fa-television" aria-hidden="true"></i> 頻道瀏覽器</a></div>
                      <div><a href="#"><i class="fa fa-file-o" aria-hidden="true"></i> 檔案瀏覽器</a></div>
                      <div><a href="#"><i class="fa fa-address-book-o" aria-hidden="true"></i> 人員與使用者群組</a></div>
                      <div><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 應用程式</a></div>
                      <div><a href="#">在你的偏好設定中自訂此清單</a></div>
                  </div>
                  <!-- hidden end -->
              </div>
  
  
  
  
  
              <!-- 頻道列表顯示 -->
              <div class="mb-8">
                  <div class="stork-list-func px-4 mb-2 text-white flex justify-between items-center">
                      <div class="opacity-75"><i class="fa fa-caret-down" aria-hidden="true"></i><i class="fas fa-caret-right"></i>頻道<i class="far fa-plus-square"></i></div>
                      <div id="channel-list-func">
                          <div><a href="#">建立新頻道</a></div>
                          <div><a href="#">瀏覽所有頻道</a></div>
                          <div><a href="#"># 公開區</a></div>
                      </div>
                  </div>
                  <div class="user-state-list bg-teal-dark py-1 px-4 text-white"># general</div>
              </div>
  
  
  
  
              <div class="mb-8">
                  <!-- 私訊點擊 往下出現列表 -->
                  <div class="px-4 mb-2 text-white flex justify-between items-center">
                      <div class="opacity-75"><i class="fa fa-caret-down" aria-hidden="true"></i><i class="fas fa-caret-right"></i>私訊<i class="far fa-plus-square"></i></div>
                  </div>
                  
                  <!-- 私訊下方出現的 ＵＳＥＲ 列表 -->
                  <div id="users-state-list">
                      <div class="user-state-list flex items-center mb-3 px-4">
                          <span><i class="fa fa-user" aria-hidden="true"></i></span>
                          <span class="user-status"></span>
                          <span class="user-name">##current_user##</span>
                          <span class="text-grey text-sm">(##You##)</span>
                      </div>
  
                      <div class="user-state-list flex items-center mb-3 px-4">
                          <span><i class="fa fa-user" aria-hidden="true"></i></span>
                          <span class="user-status"></span>
                          <span class="text-white opacity-75">##another_user1##</span>
                      </div>
  
  
                      <div class="user-state-list flex items-center mb-3 px-4">
                          <span><i class="fa fa-user" aria-hidden="true"></i></span>
                          <span class="text-white">##another_user2##</span>
                      </div>
  
                      <div class="user-state-list flex items-center mb-3 px-4">
                          <span class="bg-green rounded-full block w-2 h-2 mr-2"></span>
                          <span class="text-white opacity-75">##current_user##<span class="text-grey text-sm">(##You##)</span></span>
                      </div>
  

                      <div class="user-state-list flex items-center mb-3 px-4">
                          <span class="bg-green rounded-full block w-2 h-2 mr-2"></span>
                          <span class="text-white opacity-75">##another_user1##</span>
                      </div>
  
                      <div class="user-state-list flex items-center px-4 mb-6 opacity-50">
                          <span class="border border-white rounded-full w-2 h-2 mr-2"></span>
                          <span class="text-white">##another_user2##</span>
                      </div>
  
                  </div>
              </div>
          </div>
          <!-- 1 end -->
  
  
  
          <!-- 1 start -->
          <!-- Chat content -->
          <div class="stork--panel  flex flex-col flex-1 bg-white overflow-hidden">
  
              <!-- 2 start -->
              <!-- Top bar -->
              <div class="space-target-title  border-b items-center flex-none bg-gray">
  
                  <div class="flex justify-between items-center">
                      <div class="flex flex-col">
                          <h3 class="mb-1 font-extrabold">##spaceListFunctionTarget##
                              <i class="fa fa-bell-o" aria-hidden="true"></i>
                              <!-- <i class="fa fa-bell-slash-o" aria-hidden="true"></i> -->
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
                          </h3>
                     <!--      <div class="text-grey-dark text-sm truncate">
                              Chit-chattin' about ugly HTML and mixing of concerns.
                          </div> -->
                      </div>
                      <div class="online-users text-yellow-darker"><i class="fas fa-user-plus"></i></div>
  
                  </div>    
              </div>
              <!-- 2 end -->
  
  
  
              <!-- 2 start -->
              <!-- Chat messages -->
              <div class="chat-message px-6 py-4 flex-1 overflow-y-scroll">
  
                  <!-- A message -->
                  <div class="flex items-start mb-4 text-sm">
                      <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/AACED1/FFF/?text=A" data-img-src="##img-src##">
                      <div class="flex-1 overflow-hidden">
                          <div>
                              <span class="font-bold" data-channel-username="##channel_user[id]##">##channel_user[name]##</span>
                              <span class="text-grey text-xs" data-channel-user-message-create-time="##message_created_time##">##channel_user[id].message_created_time##</span>
                          </div>
                          <p class="text-black leading-normal">##message_content##</p>
                      </div>
                  </div>


                  <!-- A message -->
                  <div class="flex items-start mb-4 text-sm">
                     <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/BBCEA1/FFF/?text=A" data-img-src="##img-src##">
                     <div class="flex-1 overflow-hidden">
                      <div>
                          <span class="font-bold" data-channel-username="##channel_user[id]##">##channel_user[name]##</span>
                          <span class="text-grey text-xs" data-channel-user-message-create-time="##message_created_time##">##channel_user[id].message_created_time##</span>
                      </div>
                      <p class="text-black leading-normal">##message_content##</p>
                      <div class="bg-grey-lighter border border-grey-light text-grey-darkest text-sm font-mono rounded p-3 mt-2  overflow-scroll">##code snippet##</div>
                  </div>
              </div>
  

              <!-- A message -->
              <div class="flex items-start mb-4 text-sm">
                  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/CCCEDA/FFF/?text=A">
                  <div class="flex-1 overflow-hidden">
                      <div>
                          <span class="font-bold">安祺</span>
                          <span class="text-grey text-xs">21:21</span>
                      </div>
                      <p class="text-black leading-normal">建立Rails專案的第一步</p>
                      <div class="bg-grey-lighter border border-grey-light text-grey-darkest text-sm font-mono rounded p-3 mt-2  overflow-scroll">$ rails new project_name</div>
                  </div>
              </div>
  
              <!-- A message -->
              <div class="flex items-start mb-4 text-sm">
                  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/1CCEDC/FFF/?text=A">
                  <div class="flex-1 overflow-hidden">
                      <div>
                          <span class="font-bold">加菲貓</span>
                          <span class="text-grey text-xs">11:46</span>
                      </div>
                      <p class="text-black leading-normal">喵</p>
                  </div>
              </div>

              <!-- A message -->
              <div class="flex items-start mb-4 ">
                  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/00CED1/FFF/?text=A">
                  <div class="flex-1 overflow-hidden">
                      <div>
                          <span class="font-bold">唐老鴨</span>
                          <span class="text-grey text-xs">12:45</span>
                      </div>
                      <p class="text-black leading-normal">呱呱</p>
                      <div class="bg-grey-lighter border border-grey-light text-grey-darkest text-sm font-mono rounded p-3 mt-2 whitespace-pre overflow-scroll">$ git add .</div>
                  </div>
              </div>

              <!-- A message -->
              <div class="flex items-start mb-4 text-sm">
                  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/00CED1/FFF/?text=A">
                  <div class="flex-1 overflow-hidden">
                      <div>
                          <span class="font-bold">David Hemphill</span>
                          <span class="text-grey text-xs">12:46</span>
                      </div>
                      <p class="text-black leading-normal"><a href="#" class="inline-block bg-blue-lightest text-blue no-underline">@Adam Wathan</a> the size of the generated CSS is creating a singularity in space/time, we must stop adding more utilities before it's too late!</p>
                  </div>
              </div>

              <!-- A message -->
              <div class="flex items-start mb-4 text-sm">
                  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/00CED1/FFF/?text=A">
                  <div class="flex-1 overflow-hidden">
                      <div>
                          <span class="font-bold">Steve Schoger</span>
                          <span class="text-grey text-xs">11:46</span>
                      </div>
                      <p class="text-black leading-normal">The slack from the other side.</p>
                  </div>
              </div>

              <!-- A message -->
              <div class="flex items-start mb-4 text-sm">
                  <img class="w-10 h-10 rounded mr-3" src="http://fakeimg.pl/24x24/00CED1/FFF/?text=A">
                  <div class="flex-1 overflow-hidden">
                      <div>
                          <span class="font-bold">Adam Wathan</span>
                          <span class="text-grey text-xs">12:45</span>
                      </div>
                      <p class="text-black leading-normal">切換目錄</p>
                      <div class="bg-grey-lighter border border-grey-light text-grey-darkest text-sm font-mono rounded p-3 mt-2 whitespace-pre overflow-scroll">$ cd directory</div>
                  </div>
              </div>
  
  
  
              <!-- Notice -->
              <div class="message-notice-group">
                  <div class="message-notice flex justify-center mb-4 text-sm">
                      <span class="">##msg_date##<i class="fa fa-caret-down" aria-hidden="true"></i></span>
                  </div>
                  <div id="message-notice-list">
                      <div><span class="text-grey">跳至.......</span></div>
                      <div><a href="#">最近</a></div>
                      <div><a href="#">上週</a></div>
                      <div><a href="#">上個月</a></div>
                      <div><a href="#">跳到特定日期</a></div>
                  </div>
              </div>
              <!-- Notice End -->
  
          </div>
          <!-- 2 end -->
  
  
          <!-- 2 start -->
          <div class="message-editor-panel mb-8 pb-6 px-4 flex-none">
            <div class="message-editor flex rounded-lg border-2 border-grey overflow-hidden">
                  <span class="text-3xl text-grey border-r-2 border-grey p-2">
                      <i class="fas fa-plus"></i>
                  </span>
                  <input type="text" class="w-full px-4" placeholder="Message #general" />
              </div>
            </div>
            <!-- 2 end -->
        </div>
        <!-- 1 Chat Pannel  end -->
      </div>
      <!-- 0 Container End -->
    </body>
  </html>