<%= @user %>，台鑒：

<h1>在 Stork 加入你的團隊</h1>
<div>我們已邀請你在 Stork 工作空間，一起加入頻道，使用 Stork。</div>
<div>
<%= link_to "join it", member_accept_path, remote: false %>
</div>
<h2>什麼是 Stork？</h2>
<div>Stork 是專為團隊打造的通訊應用程式，您可以透過這個平台合作進行專案並整理對話，因此無論身在何處，都可以與他人一起工作。</div>
<div>(C)Copyright 2021 5xRuby 8th Team "Stork"！</div>