<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stork</title>
</head>
<body>
    <div>
        <br>
        <br>
        <br>
        <br>
        <a target="_self" class="c-link" href="http://127.0.0.1:3000/users/sign_in" rel="noopener noreferrer">
        <center><img alt="Stork" src="https://a.slack-edge.com/bv1-9/slack_logo-ebd02d1.svg" height="34" title="Stork">
        </a>
    </div>

    <br>
    <br>

    <div>
        <center><p><h1>歡迎回來！記得喝水！</h1></p>
    </div>

    <div>
       <center><p><h5>從下方擇一個工作空間，以便返回與你的團隊一起工作。</h5></p>
    </div>

    <div>
        <center><%= current_user.email %><h5>的工作空間</h5>

    </div>

    <div>
        <center><%= link_to '登出', destroy_user_session_path, method: :delete %>
    </div>

</body>

