/* 宣告可共用的變數 */
:root {
  --stork-primary: #246a73;
  --stork-second: #5e4b56;
}

/*  以下 outline 測試用 */

/* span {
    outline: 1px dotted orchid;
}

svg {
    outline: 3px dotted red; 
}

a {
    outline: 1px solid yellow;
} */
