body {
    overflow: hidden;
    width: 100vw;
    height: calc(100vw * (9/16));
}


/* Style in common 共同樣式
-----------------------------------*/
a {
    text-decoration: none;
}


a:hover{
    background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
    text-decoration-line: none;
    color:#2a3f54;
}


i {
    margin: 2px 5px;
}

hr {
    border: 1px solid white;
}


.space-icons-panel,
.space-channels-panel {
    display:none;
    background-color: #2a3f54;
    border-right: 1px solid #3e5367;
}


/* Container 最外層
-----------------------------------*/
.container {
    max-width: 100vw;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    width: 100vw;
    background-color: transparent;
    flex-grow: 1;
}


/*  Top 搜尋新的工作空間
-----------------------------------*/
.stork-nav {
    width: 100%;
    margin:  0 auto;
    padding: 2px;
    display: flex;
    size: 16px;
    justify-content: center;
    border-bottom:  1px solid #3e5367;
    background-color: #2a3f54;
    color: #EDEDED;
}

.stork-nav > div {
    margin: 1px 20px;
    align-items: center;
}


.sp-search-icon {
    padding-right: 5px;
}

.inp-space-search {
    padding: 10px;
    width: 600px;
}

.sp-user-avatar {
    margin: 1px;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #3f3e3f;
}

.sp-user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sp-user-avatar:hover {
    /*transform:rotate(45deg);*/
    border: 1px solid #EDEDED;
}



/* Sidebar Left 最左側的 Icon List
---------------------------------------*/
.space-icons-panel {
    overflow-y: scroll;
    padding-right: 1px; 
    box-sizing: border-box; 
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.space-icon-group div {
    background-color: #79c7c5;
    transition: background-color 0.5s ,color 0.5s;
}


.space-icon-group div:hover {
    background-color: #3e5367;
    color: #EDEDED ;
}

/* Sidebar 工作空間 瀏覽 Stork 選單
-------------------------------------------*/

.stork-header {
    border-bottom:  1px solid #3e5367;
    padding: 7px;
}

.stork-header:hover {
  background-color: #3e5367;
  color: #EDEDED ;
}

.browse-stork {
    color: #79c7c5;
}


/*  下拉選單 區塊
---------------------------------*/
#space-list-func,
#channel-list-func,
#dropdown-stork-list,
#message-notice-list  {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    z-index: 10;
    border-radius: 5px;
    cursor: pointer;
}

#space-list-func,
#channel-list-func,
#dropdown-stork-list {
    top: 13%;
    left: 6%;
}
#message-notice-list {
    top: 100%;
    left: 40%;
    z-index: 10;
}

/* 測試。看下拉列表的樣子 start ------------------- */

#space-list-func {
    left: 50%;
}

#channel-list-func {
    left: 80%;
}
/* -------------------測試 end */



#space-list-func  div, 
#stork-list-func div, 
#dropdown-stork-list div,
#channel-list-func div,
#message-notice-list div  {
    padding: 15px;
    border-bottom: 1px solid #DDDAAD;
    color: #2a3f54;
}

#message-notice-list div {
    padding: 15px 30px;
}


.stork-list-func, 
.user-state-list {
    padding: 5px 16px;
    /*border-bottom: 1px solid #DDDAAD;*/
    color: #DEDEDE;
    cursor: pointer;
}

.user-state-list a {
    color: #DEDEDE;
}

#dropdown-stork-list div:hover,
#space-list-func  div:hover, 
#channel-list-func div:hover,
.stork-list-func:hover, 
.user-state-list:hover,
#message-notice-list div:hover {
    background-color: #DEDEDE;
}

.stork-list-func:hover, 
.user-state-list:hover {
    color: #2a3f54;
}


#space-list-func a,
#channel-list-func a,
#dropdown-stork-list a,
#message-notice-list a {
    color: #2a3f54;
}



/* 根據左側欄列表切換右邊 Content 的 title
--------------------------------------*/
.space-target-title {
  background-color: #EDEDED;
  border-bottom: 1px solid #3e5367;
  padding: 8px;
}


/* Message 訊息日期標示  ---( msg_date )---
------------------------------------------*/
.message-notice-group, .message-notice {
    position: relative;
}

.message-notice span {
    display: block;
    color: #2a3f54;
    width: 20%;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 3px;
}

.message-notice span:before, .message-notice span:after{
    position: absolute;
    bottom: 0px;
    content: "";
    width: 40%;
    height: 1px;
    background-color: #ededed;
    top: 50%;
}

.message-notice span:before {
    left: 0;
}
.message-notice span:after {
    right: 0;
}