.home{
    background-color: #EDEDED;

    .item-1{
        color: white !important;
        font-weight: 700;
    }
    .item-2{
        border: 2px solid #EDEDED;
        font-weight: 700;
        background-color: #ffffff;
        color: black; 
    }
    .text{
        font-size: 44px;
    }
    .deepcolor{
        background-color: #3e5367;
    }
    .border-need .space-item:not(:last-child) { 
        border-bottom: 1px solid #eeeeee;
    } 
    .space-item:hover{
        background-color: #f7f6f6;
    }
    .doll-content{
        height: 90px;
    }
    
    .doll-text{
        margin-left: 220px;
    }
    .deep-blue:hover{
        background-color: #79c7c5;
    }

    .more{
        display: none;
    }
}

