// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html,
body {
  height: 100%;
}

.field_with_error {
  display: inline-block;

  input[type="text"] {
    border-color: red;
    border-width: 1px;
  }

  label {
    color: red;
  }
}

body {
  min-height: 100%;
  overflow: hidden;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}

.spaces-container {
  display: flex;
  // flex-direction: column;
  background: linear-gradient(#ededed, #79c7c5);
  position: relative;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
}

.spaces-step-content .field input {
  width: 800 px;
}

.spaces-steps {
  width: 200px;
  // height: 800px;
  background-color: #2a3f54;
  line-height: 2;
  text-align: center;
  padding: 20px 0;
  // border-radius: 100%;
  color: white;
  margin-left: 0px;
  vertical-align: text-top;
}

.spaces-step-content {
  padding: 20px;
  padding-left: 100px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.spaces-step-title {
  font-size: 50px;
}

.spaces-step-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.spaces-step-waver {
  font-size: 95pt;
  text-align: center;
  animation: waver 0.65s alternate infinite;
  transform-origin: 50% 90%;
  animation-timing-function: ease-in-out;
  position: absolute;
  left: -150px;
  top: -300px;
}

@keyframes waver {
  0% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
#inp-space-name {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
