// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html,
body {
  height: 100%;
}

.field_with_error {
  display: inline-block;

  input[type="text"] {
    border-color: red;
    border-width: 1px;
  }

  label {
    color: red;
  }
}

body {
  min-height: 100%;
  overflow: hidden;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}

.spaces-container {
  display: flex;
  // flex-direction: column;
  background: linear-gradient(#ededed, #79c7c5);
  position: relative;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
}
.particle-wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
}
.particle {
  position: absolute;
  background: #fff;
  opacity: 0.7;
  border-radius: 50%;
  animation: move 8s infinite;
}

@for $i from 1 through 100 {
  .particle:nth-child(#{$i}) {
    $size: random(30) + px;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d(
      (random(1000) * 1px),
      (random(1000) * 1px),
      (random(2000) * 1px)
    );
    background: #fff(266, 26.8%, 43.9%);
  }
}

.spaces-steps {
  width: 200px;
  // height: 800px;
  background: linear-gradient(#2a3f54, #79c7c5);
  line-height: 2;
  text-align: center;
  padding: 20px 0;
  // border-radius: 100%;
  color: white;
  margin-left: 0px;
  vertical-align: text-top;
}

.spaces-step-content {
  padding: 20px;
  padding-left: 100px;
  vertical-align: text-top;
}

.spaces-step-title {
  font-size: 50px;
}
