.login_line{
    span{
        border-top: 1px solid gray;
        width: 100px;
        display: inline-block;
        line-height: 8px;
        text-align: center;
    }
}

.text_right{
    text-align: right;
    display:inline-block;
 
}

.text_center{
    text-align: center;
    display:inline-block;
    flex-grow: 1; 
    
}

.login_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
