// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html,body{
  height:100%;
}

#list_head{
  height: 50px;
  background-color: #EBD3E8;
  font-size: 20px;
}

#caption{
  font-size: 50px;
  text-align: left;
  color: #fff;
  font-weight:bold;
}

.field_with_error{
    display: inline-block;
    
    input[type="text"]{
        border-color: red;
        border-width:1px;
    }

    label{
      color: red;
    }
}

a:link{
  color:#000;
  text-decoration:none;
}

a:visited{
  color:#000;
}

a:hover{
  color:#fe1b42;
  text-decoration:underline;
}


.steps-nav{
  width: 100%;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  position: sticky;
  top: 0;
  margin-bottom: 0px;
  z-index: 1;
}

.index-m-header{
  width: 1150px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.index-main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.index-welcome{
  background-color: #1264A3;
  text-align:left;
  font-weight:bold;
  color:white;
  border-radius: 50px;
  padding: 20px;
}

.list_table{
  width: 760px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.spaces-container{
  height:100%;
}

.spaces-steps{
  width: 200px;
  background-color: purple;
  color:white;
  margin-left: 0px; 
  padding: 20px;
  vertical-align:text-top;
}

.spaces-step-content{
  padding: 20px;
  padding-left: 100px;
  vertical-align: text-top;
}

.ch-show{
  width: 100px;
  background-color: purple;
  color:white;
  margin-left: 0px; 
}